<!DOCTYPE html>
<html>
<head>
     <meta charset="UTF-8"/>
     <title>Home</title>
 </head>
 <body>
	<%= image_tag("sanduiche.jpg",size: "200x200") %>
 	<p>
 	<h1>SISTEMA DE CADASTRO DE RESTAURANTES</h1>
 	</p>
 </body>
 </html>